/* Center the countdown element horizontally and vertically */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically within the viewport */
}
#countdown {
    font-size: 48px;
}

.playerInputField, .textSpan {
    width: 100%;
    margin: 3px;
}
.playerInputButton, .textSpan {
    margin-left: 3px;
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 2px;
}
.nameIdInput, .nameIdFilled {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}